In [1]:
import pandas as pd

In [2]:
df1000 = pd.read_csv('GoodDataFrame.csv')

# Create DataFrames that will be concated with Final DataFrame
###### A,B,C...G are all different classifications of fire sizes, I summed each appearance of a letter grade. If I count 10 A's on a certain day at a certain location, then it ='s 10.

In [3]:
#getting dataframe started. if there is no observation then it =='s zero thus 0 is the optimal choice
df1000['A'] = 0
df1000['B'] = 0
df1000['C'] = 0
df1000['D'] = 0
df1000['E'] = 0
df1000['F'] = 0
df1000['G'] = 0

In [4]:
#import counter
from collections import Counter

In [6]:
#build A,B...G count. Need Key, Value pairs to do this. Use counter and .items() to access that information
#think of this like dummy variables. the function when it is finished breaks rather than ends smoothly but still very happy with it
for i,y in enumerate(df1000['sz_class']):
    if i%100000==0:
        print(i)
    for key, value in dict(Counter(df1000['sz_class'][i])).items(): 
        if key == 'A':
            df1000['A'][i] = value
        if key == 'B':
            df1000['B'][i] = value
        if key == 'C':
            df1000['C'][i] = value
        if key == 'D':
            df1000['D'][i] = value
        if key == 'E':
            df1000['E'][i] = value
        if key == 'F':
            df1000['F'][i] = value
        if key == 'G':
            df1000['G'][i] = value

0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

100000
200000
300000
400000
500000

TypeError: 'float' object is not iterable

In [9]:
df1000.to_csv('df1010.csv')

In [10]:
pd.read_csv('ABC_tuenight.csv').head()

,Unnamed: 0,Unnamed: 0.1,dates,latit,longit,longitude,latitude,state,sz_class,cause,firesize,A,B,C,D,E,F,G
0,0,0,2448622.5,26,-82,-81.85,26.6,FL,B,6.0,3.0,0,1,0,0,0,0,0
1,1,1,2448622.5,26,-80,"-80.95931999999998,-80.45","25.88276,25.95","FL,FL","C,C","9.0,6.0,[]","10.0,20.0",0,0,2,0,0,0,0
2,2,2,2448622.5,28,-82,"-81.9,-82.05,-81.8,-81.58,-81.29,-81.29,-81.43","28.28,27.89,27.54,28.46,28.47,27.13,27.41","FL,FL,FL,FL,FL,FL,FL","C,B,B,B,B,B,B","9.0,6.0,6.0,6.0,6.0,9.0,7.0,[]","1.0,2.5,0.5,6.0,2.0,6.0,28.0",0,6,1,0,0,0,0
3,3,3,2448622.5,28,-80,-80.73,28.3,FL,B,"6.0,[]",8.0,0,1,0,0,0,0,0
4,4,4,2448622.5,30,-98,-97.32291,30.19375,TX,C,"2.0,[]",30.0,0,0,1,0,0,0,0

# Create a Max Value Column and Sum of Values Column
#### Each row needs a max value, and sum of all the wildfiries. This is important details that will be leveraged later for analysis

In [11]:
#function for finding max
#just like the function prior this function breaks
append1 = []
append2 = []

for i,y in enumerate(df1000['firesize']):
    if i%100000==0:
        #print i if divisable by 1000 because not want to use too much memory but want to track work
        print(i)
    #add append1 to append2 and then clear append1, and t, but not append2
    append2.append(append1)
    append1 = []
    t = 0
    ### separate the different units in the firesize by splitting it. then use a function to find the max values and 
    ##continously cycle through. 
    for m in df1000['firesize'].tolist()[i].split(","):
            if float(m) > float(t):
                t = float(m)
                append1 = []
                append1.append(t)
#             else:
#                 print('hi')
# #         else:
#             if float(m) > float(t):
#                 append1 = []
#                 append1.append(float(m))

0
100000
200000
300000
400000
500000

AttributeError: 'float' object has no attribute 'split'

In [12]:
#create 2 of the dataframes, add them lower to the Final dataframe
dataframe = pd.DataFrame(append2)
firessmax = pd.DataFrame(append2).rename(columns={0: 'FIRE SIZE MAX'})

In [13]:
#sum the acreage of the fires
append10 = []
append20 = []

for i,y in enumerate(df1000['firesize']):
    if i%200000==0:
        print(i)
    #add when change of i, add prior append10 to append 20
    #clear t and append10
    append20.append(append10)
    append10 = []
    t = 0
    
    #use .tolist()[i].split(','), clear append10, which gets each float alone, then add them together and then add it to append10
    for m in df1000['firesize'].tolist()[i].split(","):
        append10 = []
        t = float(t)+float(m)
        append10.append(t)

0
200000
400000

AttributeError: 'float' object has no attribute 'split'

In [14]:
#convert them to csv out of paranoia and create dataframes and concat it with the final dataframe
firesssum = pd.DataFrame(append20).rename(columns={0: 'FIRE SIZE SUM'})

In [15]:
#reset the indexes it can be easy to run into trouble if you forget to do that. I also dropped the unncessary column that comes
#when you change the index
firessum = firesssum.drop(0).reset_index().drop(columns='index')

#### the last and first dataframe were missing, so I added those in manually for all the various examples
#### same applies to fire size max see below

In [16]:
firessum['FIRE SIZE SUM'][0] = 3.0

In [17]:
firessum['FIRE SIZE SUM'][544534] = 0

In [18]:
df1000['FIRE SIZE SUM'] = firessum['FIRE SIZE SUM']

In [19]:
firessmax = firessmax.drop(0).reset_index().drop(columns='index')

In [20]:
firessmax['FIRE SIZE MAX'][0] = 3.0

In [21]:
firessmax['FIRE SIZE MAX'][544534] = 0

In [22]:
df1000['FIRE SIZE MAX'] = firessmax['FIRE SIZE MAX']

In [23]:
justincase=pd.concat([firessmax, firesssum])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [24]:
import numpy as np

##### Using .diff to see difference between current value and values prior. This is SUPER IMPORTANT. These will be my y variables. I am not interested in finding when will there be a lot of forest fire but rather when will there be a change in conditions that will cause a change and expansion of forest fires.

##### I then took only the max value of these columns so that it is standardized nicely and consistant.

#### arguably the most important function of the whole project. This is me creating the y variable. I am saying that if there is no fire and it jumps to 100 acres, or the sum of fire in an area grows by 4x or grows by 2x under certain conditions then to make note of it and make them 1's. Everything else is a 0. 

#### y variable is named firebinary.

In [26]:
df1000.head()

,Unnamed: 0,dates,latit,longit,longitude,latitude,state,sz_class,cause,firesize,A,B,C,D,E,F,G,FIRE SIZE SUM,FIRE SIZE MAX
0,0,2448622.5,26,-82,-81.85,26.6,FL,B,6.0,3.0,0,1,0,0,0,0,0,3.0,3.0
1,1,2448622.5,26,-80,"-80.95931999999998,-80.45","25.88276,25.95","FL,FL","C,C","9.0,6.0,[]","10.0,20.0",0,0,2,0,0,0,0,30.0,20.0
2,2,2448622.5,28,-82,"-81.9,-82.05,-81.8,-81.58,-81.29,-81.29,-81.43","28.28,27.89,27.54,28.46,28.47,27.13,27.41","FL,FL,FL,FL,FL,FL,FL","C,B,B,B,B,B,B","9.0,6.0,6.0,6.0,6.0,9.0,7.0,[]","1.0,2.5,0.5,6.0,2.0,6.0,28.0",0,6,1,0,0,0,0,46.0,28.0
3,3,2448622.5,28,-80,-80.73,28.3,FL,B,"6.0,[]",8.0,0,1,0,0,0,0,0,8.0,8.0
4,4,2448622.5,30,-98,-97.32291,30.19375,TX,C,"2.0,[]",30.0,0,0,1,0,0,0,0,30.0,30.0

In [28]:
df1000.columns

Index(['Unnamed: 0', 'dates', 'latit', 'longit', 'longitude', 'latitude',
       'state', 'sz_class', 'cause', 'firesize', 'A', 'B', 'C', 'D', 'E', 'F',
       'G', 'FIRE SIZE SUM', 'FIRE SIZE MAX'],
      dtype='object')

In [30]:
df100=pd.read_csv('datesandstuffandweekdays.csv')

In [31]:
df100.rename(columns={'Unnamed: 3': 'Julian'}, inplace=True)

#### this is to lable the day of the week. It could be a significant detail, so I am getting monday, tue, and whether they are a weekday or not, and what day it is by normal year standards. The details originally were in Julian calendars and were a bit uninterpretable.

In [33]:
dayoweek = []
dato = []
weekend = []
for i,y in enumerate(df1000['dates']):
    for m,q in enumerate(df100['Julian']):
        if q == y:

            dayoweek.append(df100['date'][m])
            dato.append(df100['day of week'][m])
            if str(df100['day of week'][m]) == 'Friday' or str(df100['day of week'][m]) == 'Tuesday' or str(df100['day of week'][m]) == 'Wednesday' or str(df100['day of week'][m]) == 'Thursday':
                weekend.append(0)
                if i%150000==0:
                    print(i)
                    print(df100['date'][m])
                    print(df100['day of week'][m])
            else: 
                weekend.append(1)
                if i%150000==0:
                    print(i)
                    print(df100['date'][m])
                    print(df100['day of week'][m])

0
1/1/1992
Wednesday
150000
9/23/1999
Thursday
300000
5/6/2006
Saturday
450000
2/22/2012
Wednesday

In [34]:
dater3 = pd.DataFrame(weekend).rename(columns={0: 'weekend'})

In [35]:
dater2 = pd.DataFrame(dato).rename(columns={0: 'normal date'})

In [36]:
dater1 = pd.DataFrame(dayoweek).rename(columns={0: 'day of week'})

In [37]:
df1000=pd.concat([df1000, dater3], axis=1)
df1000=pd.concat([df1000, dater1], axis=1)
df1000=pd.concat([df1000, dater2], axis=1)

In [38]:
df1000=df1000.drop(columns=['Unnamed: 0'])

##### create a name for each individual category. I did this by combining each the cordinates into this name. Each one is unique to the different potential coordinates. This helps in categorizing and organizing.

In [39]:
##latitude and longitude appended. 
lattlon=[]
for i,y in enumerate(df1000['latit']):
    ###lattlon adds the the specific values corresponding so they can be dividided up into vairous categories
    lattlon.append('lat:'+str(y)+'lon:'+str(df1000['longit'][i]))
    if i%150000==0:
            print('lat:'+str(y)+'lon:'+str(df1000['longit'][i]))
            print(i)

lat:26lon:-82
0
lat:34lon:-90
150000
lat:46lon:-108
300000
lat:32lon:-84
450000

In [40]:
lat_lon = pd.DataFrame(lattlon).rename(columns={0: 'lat lon'})

#### Some format got a little messed up, so I corrected those details and incorporarted the latlon titles into the main dataframe

In [41]:
df1000=pd.concat([df1000, lat_lon], axis=1)

In [42]:
df1000=df1000.sort_values('latit')

In [43]:
df1000.reset_index(inplace=True)

In [44]:
df1000.drop(544534, inplace=True)

In [45]:
df1000.rename(columns={'normal date':'day of week', 'day of week': 'day'}, inplace=True)

In [46]:
df1000['day']=pd.to_datetime(df1000['day'])

In [47]:
df10000=df1000.sort_values(['lat lon', 'dates'])

In [48]:
df10000.to_csv('datacleaned.csv')